@use "@/assets/styles/variable" as *;

.chartCard {
  background-color: $dark-gray;
  padding: 20px;
  text-align: center;
}

.cardDescription {
  text-align: center;
  color: $white;
  margin-bottom: 1rem;
  font-weight: bold;
}

.chartWrapper {
  position: relative;
  height: 300px;
  width: 100%;
}
