@use "@/assets/styles/variable" as *;

.chartCard {
  background-color: $dark-gray;
  padding: 24px 16px;
  text-align: center;
  height: 100%;
}

.cardDescription {
  text-align: center;
  color: $white;
  margin-bottom: 1rem;
  font-weight: bold;
}

.chartWrapper {
  position: relative;
  height: 350px;
  width: 100%;

  @media (min-width: 768px) {
    height: 400px;
  }

  canvas {
    max-width: 100%;
  }
}
