@use "@/assets/styles/variable" as *;

.introduction {
  padding: 40px 0;
  background-color: $white;
  min-height: calc(100dvh);
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 80px 0;
  }
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: $dark-gray;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.contents {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
  }
}

.textWrapper {
  flex: 1.5;
}

.description {
  color: $dark-gray;
  line-height: 1.8;
  font-size: 0.95rem;

  p {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.updateDate {
  display: block;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #999;
  text-align: right;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
}

.imageInner {
  width: 100%;
  max-width: 300px;

  @media (min-width: 768px) {
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    filter: grayscale(20%);
    transition: filter 0.3s;

    &:hover {
      filter: grayscale(0%);
    }
  }
}