.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.socialLink {
    color: #fff;
    font-size: 24px;
    margin: 0 16px;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;

    &:hover {
        opacity: 0.7;
    }
}
