@use "@/assets/styles/variable" as *;

.mainVisual {
  background-color: $dark-gray;
}

.visualContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $beige;
}

.imageWrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (min-width: 768px) {
    width: 50%;
    justify-content: flex-end;
    padding-right: 4rem;
  }
}

.iphoneImage {
  width: 12rem;

  @media (min-width: 768px) {
    width: 18rem;
  }
}

.textWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    width: 50%;
    justify-content: flex-start;
  }
}

.textInner {
  padding-left: 2rem;
  padding-right: 2rem;
}

.registerText {
  color: $orange;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.catchPhrase {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

.lineButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: $orange;
  border-radius: 9999px;
  text-decoration: none;
}

.lineButtonText {
  font-weight: bold;
  color: $white;
  margin-left: 0.5rem;
}
