@use "@/assets/styles/variable" as *;

.header {
    background-color: $dark-blue;
    color: $white;
}

.menuList {
    display: flex;
    list-style: none;
    padding: 0;

    .menuItem {
        &:not(:last-child)::after {
            content: "｜";
            margin: 0 8px;
            color: #ccc; // 任意の色
        }
    }
}


.menuContainer {
    margin-left: auto;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            display: inline-block;
            margin-right: 12px;
        }
    }
}

.register-link {
    color: #e11d48;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.cart-link {
    margin-left: 12px;
}

.cart-image {
    height: 40px;
}

.contact-link {
    color: #e11d48;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

