services:
  
  profile-isystk-com-app:
    image: nextjs-boilerplate/app
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: profile-isystk-com-app
    volumes:
      - ..:/app
    environment:
      - NODE_ENV=development
      - TZ=Asia/Tokyo
    restart: unless-stopped

networks:
  default:
    external: true
    name: docker_default
