@use "@/assets/styles/variable" as *;

.footer {
  background-color: $dark-blue;
  padding: 2rem 1rem;
  color: $white;
}

.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footerCopy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;

  small {
    font-size: inherit;
  }
}

.footerLogo {
  font-size: 0.875rem;
  font-weight: normal;
}
