@use '@/assets/styles/variable' as *;

.wrapper {
  background-color: $dark-gray;
  position: relative;
  width: 100%;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  transform: scale(1.05);
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100dvh - 272px);

  @media only screen and (min-width: 767px) {
    min-height: calc(100dvh - 328px);
  }
}
