@use "@/assets/styles/variable" as *;

.menuBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
    z-index: 1001;

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $white;
        transition: 0.3s ease;
    }
}

.menuBtn.open {
    position: fixed;
    top: 20px;
    right: 20px;

    span {
        background-color: $black;
    }

    span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

@media only screen and (min-width: 767px) {
    .menuBtn {
        display: none;
    }
}
